

@tailwind base;
@tailwind components;
@tailwind utilities;

.activePage{

  font-weight: 500;
  color: green;
 position: relative;
}
.activePage::after{
  position: absolute;
  border-bottom: 2px solid red;
  width: 20px;
  left: 50px;
  right: 20px;
  bottom: 34px;

}

